In [1]:
import numpy as np
import pandas as pd
import feather

In [2]:
df = pd.read_csv('dialect_dataset.csv')
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [3]:
df.dtypes

id          int64
dialect    object
dtype: object

In [4]:
df = df.astype({"id": str}, errors='raise') 
df.dtypes
df['id']

0         1175358310087892992
1         1175416117793349632
2         1175450108898565888
3         1175471073770573824
4         1175496913145217024
                 ...
458192    1019484980282580992
458193    1021083283709407232
458194    1017477537889431552
458195    1022430374696239232
458196    1022409931029458944
Name: id, Length: 458197, dtype: object

In [5]:
id_list = df['id'].tolist()

In [6]:
print(len(id_list))

458197

In [7]:
import requests
import json

In [8]:
id_text = {}

for i in range(0,len(id_list),1000):
    url = "https://recruitment.aimtechnologies.co/ai-tasks"
    list = id_list[i : i + 1000]
    params = json.dumps(list)
    response = requests.post(url, data=params)
    response.encoding = 'utf-8'
    json_loaded = json.loads(response.text)
    id_text.update(json_loaded)
print(response.status_code)

200

In [9]:
print(len(id_text))
print(type(id_text))
print(type(id_list))

458197
<class 'dict'>
<class 'list'>

In [10]:
print(id_text.get("1055620304465215616"))
print(id_text.get("1057418989293485952"))

@MahmoudWaked7 @maganenoo ÙÙŠ Ø·Ø±ÙŠÙ‚ Ù…Ø·Ø±ÙˆØ­ Ù…Ø±ÙƒØ² Ø¨Ù‡ÙŠØ¬  ÙˆØ§Ù„Ù…Ø±ÙƒØ² Ø§Ù„ÙŠ Ø§Ù„ÙŠ Ø¬Ù…Ø¨Ù‡ Ø§Ø³Ù…Ù‡ Ø§ÙŠÙ‡ğŸ˜‚ğŸ˜‚
@mycousinvinnyys @hanyamikhail1 Ù…ØªÙ‡ÙŠØ§Ù„ÙŠ Ø¯ÙŠ Ø´ÙƒÙˆÙ„Ø§ØªÙ‡ Ø§Ù„Ù‡Ø§Ù„ÙˆÙŠÙ†  ÙÙŠÙ† Ø§Ù„Ù…Ø­Ù„ Ø¯Ù‡

In [11]:
idtext_dataframe = pd.DataFrame(id_text.items(), columns=['id', 'text'])
idtext_dataframe.head()

                    id                                               text
0  1175358310087892992   @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1  1175416117793349632  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2  1175450108898565888                    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3  1175471073770573824         @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4  1175496913145217024                 @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº

In [12]:
id_text_dialect = pd.merge(idtext_dataframe, df, on='id')
id_text_dialect.head()

,id,text,dialect
0,1175358310087892992,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .,IQ
1,1175416117793349632,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...,IQ
2,1175450108898565888,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ,IQ
3,1175471073770573824,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’,IQ
4,1175496913145217024,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº,IQ

In [13]:
id_text_dialect.tail()

,id,text,dialect
458192,1019484980282580992,@Al_mhbaa_7 Ù…Ø¨Ø³ÙˆØ·ÙŠÙ† Ù…Ù†Ùƒ Ø§Ù„Ù„ÙŠ Ø¨Ø§Ø³Ø·Ø§Ù†Ø§ğŸ˜…,BH
458193,1021083283709407232,@Zzainabali @P_ameerah ÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ÙŠÙ†Ø¯Ù‡ Ø§Ø¨Ø´ ÙŠØ®ØªÙŠ,BH
458194,1017477537889431552,@Al_mhbaa_7 Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³...,BH
458195,1022430374696239232,@haneenalmwla Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡ ğŸ˜‹ğŸ˜‹ğŸ˜‹,BH
458196,1022409931029458944,@jolnar121 Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡ğŸ˜…ğŸ˜…,BH

In [14]:
id_text_dialect.to_feather('id_text_dialect.feather')